@model List<Lab012.Models.Persona>

@{
    ViewBag.Title = "Listar";
}

<h2>Listado de Personas</h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">PersonaID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Fecha Nac.</th>
            <th scope="col">Direccion</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    @foreach (var persona in Model)
            {
            <tr>
                <th scope="row">@persona.PersonaID</th>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
                <td>@persona.FechaNac</td>
                <td>@persona.Direccion</td>
                <td>@persona.Email</td>
            </tr>
            }
</table>

